<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- Not Found</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Not found.">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<center><img src="/img/Dark-Taco.svg" alt="Dark Wizard Taco" width="600">
		<h1>404 - Not Fount</h1>
		What <span style="font-style:italic;font-weight:bold;font-size:20px">black magic</span> is this?!<br>The server couldn't find or access <span id="path"><%= path %></span>.
		<% if (path.length > 25) { %><br>Well... what did you think would happen if you typed in a url <span style="font-style:italic;font-weight:bold;font-size:20px">that</span> long?<% } %></center>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>