<!DOCTYPE html>
<%# Type: static
		Catorgory: error %>
<html lang="en-US">

<head>
	<title>Clutter -- Wrong Method</title>
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
	<center id="notfound">
		<h1>Error 405 - Method Not Allowed</h1>
		Stop right there criminal scum! Nobody uses the "<%- method -%>" method on my watch. I'm confiscating you right to go here. Now bid yourself adieu, or sit here forever.
	</center>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<script>
		/*if (screen.width < 450) {
			document.getElementById("ghosty").width = screen.width - 30
		}*/
	</script>
</body>

</html>