<!DOCTYPE html>
<%# Type: static
		Catorgory: error %>
<html lang="en-US">

<head>
	<title>Clutter -- Internal Error</title>
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
	<center id="notfound">
		<img src="/img/errors/Ghosty.svg" width="450" id="ghosty">
		<h1>Error 500 - Internal Server Error</h1>
		BOOOOO! Spooky, it looks like the server is having internal errors. Don't blame yourself, this error is "NotYours".
	</center>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<script>
		let image = document.getElementById("ghosty")
		window.onresize = () => {
			checkImage()
		}
		function checkImage() {
			if (screen.width < 450) {
				image.width = screen.width - 30
			} else {
				image.width = 450
			}
		}
		checkImage()
	</script>
</body>

</html>