<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- Not Found</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Not found.">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
	<center id="notfound">
		<img src="/img/Ghosty.svg" width="450" id="ghosty">
		<h1>Error 500 - Internal Server Error</h1>
		Don't worry, you didn't do anything wrong. This is just an issue with the server.<br>
	</center>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<script>
		if (screen.width < 450) {
			document.getElementById("ghosty").width = screen.width - 30
		}
	</script>
</body>

</html>