<!DOCTYPE html>
<%# Type: static
		Catorgory: error %>
<html lang="en-US">

<head>
	<title>Clutter -- Internal Error</title>
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
	<center id="notfound">
		<img src="/img/errors/Ghosty.svg" width="450" id="ghosty">
		<h1>Error 500 - Internal Server Error</h1>
		Boo! The server couldn't stand the scare. This isn't your fault.<br>
	</center>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<script>
		if (screen.width < 450) {
			document.getElementById("ghosty").width = screen.width - 30
		}
	</script>
</body>

</html>