<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="about Clutter">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		This website is a project by <a href="//scratch.mit.edu/users/Steve0Greatness">@Steve0Greatness</a>. I made this because the idea of compiling Scratch projects was really cool.<br>
		Also, this uses many <a href="//nodejs.org" title="a language (generally) used to host servers">Nodejs</a> libraries, including <a href="//expressjs.com/" title="a library to host servers">Express</a>, <a href="//ejs.co" title="a templating(something that allows pages to display information from the backend), or view engine">Ejs</a>, <a href="https://nodejs.org/docs/latest/api/path.html" title="Provides the ablity to work with directory(folder) and file paths">path</a>, <a href="https://github.com/emberfeather/less.js-middleware">Less middleware</a>, and <a href="//www.npmjs.com/package/serve-favicon" title="middleware that lets you make /favicon.ico show whatever .ico file you want">Serve Favicon</a>. It also includes <a href="//docs.replit.com/hosting/database-faq" title="a replit library that lets you store data">@replit/database</a> and <a href="//www.npmjs.com/package/body-parser" title="something that lets you read the frontend">body parser</a>, but they aren't yet used.
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>