<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- <%= cName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="a Clutter">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<header id="head"></header>
	<div id="content">
		<%- include("player") -%><br>
		<a href="/edit/<%= id %>"><button>See Inside</button></a><br>
		<input type="text" id="commentBox"></input> <button>Submit</button>
	</div>
	<footer id="foot"></footer>
	<script src="/script.js"></script>
	<script>
		var projects = <%- JSON.stringify(proj) -%>;
		renderClutter(projects)
	</script>
</body>

</html>