<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- <%= clutterName %></title>
</head>

<body>
	<header id="head"></header>
	<div id="content">
		<%- include("player") -%>
	</div>
	<footer id="foot"></footer>
	<script src="/script.js"></script>
	<script>
		var test = <%= JSON.stringify(proj) %>
	</script>
</body>

</html>