<%# Type: static 
		Catorgory: element %>
<footer id="foot">
<table style="text-align:center">
	<thead>
		<tr>
			<th>For Devs</th> <th>Info</th> <th>Community</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/api/docs">API</a></td> <td><a href="/about">About</td><td><a title="Coming soon" href="javascript:alert('coming soon')">Topic</a></td>
		</tr>

		<tr>
			<td><a href="https://github.com/Steve0Greatness/Clutter">Github</a></td> <td><a href="/getstarted">Get Started</a></td>
		</tr>
		<tr>
			<td><a href="/debug/" title="For stuff like styling">Debug</a></td>
		</tr>
	</tbody>
</table>
</footer>