<!DOCTYPE html>
<%# Type: static
		Catorgory: info %>
<html lang="en-US">

<head>
	<title>Clutter -- Get Started</title>
	<meta name="description" content="Get Started with Clutter">
	<meta name="title" content="Clutter -- Get Started">
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<h1>Getting Started</h1>
		The first step would be to <a href="https://scratch.mit.edu/projects/editor/">create Scratch projects</a>(or pick pre-existing ones). If you don't have a Scratch account, then you should make one, and create some projects.
		<h2>Ideas for Clutters</h2>
		Here are some ideas for clutters.
		<details><summary>Create a Story</summary>
		Create a story or comic book series, and combine them on Clutter.</details>
		<details><summary>Make a Game Series</summary>
		Compile your game series into a single place!</details>
		<details><summary>Make a Show</summary>
		Create edisodes of a show, and make a easy to find place for all of them.</details>
		<details><summary>Create an Art Gallery</summary>
		Take your art, and put it into a gallery, for everyone to enjoy.</details>
		<details><summary>Create a compilation album</summary>
		Show of you're own original music, or music you just generally like.</details>
		<details><summary>Compile your favorite projects</summary>
		Make an easy place to access your personal favorite projects by you.</details>
		<details><summary>Create a Clutter of similar projects</summary>
		Add a bunch of projects similar in style, tone, ideas, or any other way.</details>
		<details><summary>Index all your most popular projects</summary>
		Put you're most popular projects to a Clutter</details>
		<h2>Still don't know what to make?</h2>
		I bet you can come up with your own ideas! You really don't need this, but it may give you ideas to base what you may want to make off of.
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>