<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- Get Started</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Get Started with Clutter">
	<meta name="title" content="Clutter -- Get Started">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<h1>Getting Started</h1>
		The first step would be to <a href="https://scratch.mit.edu/projects/editor/">create Scratch projects</a>(or pick pre-existing ones). If you don't have a Scratch account, then you should make one, and create some projects.
		<h2>Ideas for Clutters</h2>
		Here are some ideas for clutters.
		<ul>
			<li><h3>Create a Story</h3>
			Create a story or comic book series, and combine them on Clutter.</li>
			<li><h3>Make a Game Series</h3>
			Compile your game series into a single place!</li>
			<li><h3>Make a Show</h3>
			Create edisodes of a show, and make a easy to find place for all of them.</li>
			<li><h3>Create an Art Gallery</h3>
			Take your art, and put it into a gallery, for everyone to enjoy.</li>
			<li><h3>Create a compilation album</h3>
			Show of you're own original music, or music you just generally like.</li>
			<li><h3>Compile your favorite projects</h3>
			Make an easy place to access your personal favorite projects by you.</li>
			<li><h3>Compile boring and repetitive things</h3>
			Make things, then make it again, and again, and again, and again. Like how this page is boring and repetitive.</li>
		</ul>
		<h2>Still don't know what to make?</h2>
		IDK what to tell you, that's all this is useful for...
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>