<header id="head">
<a href="/" id="logo" alt="clutter"></a>
<a href="/create">Create</a>
<a href="/about">About</a>
<a href="/getstarted">Get Started</a>
<form onsubmit="searchBar(document.getElementById('searchText').value); return false;" style="display:inline">
<input name="search" type="text" class="search" id="searchText" alt="search"><input type="submit" class="search" value="Search"></form>
<span id="login"></span>
</header>