<%# Type: static
		Catorgory: element %>
<div id="player"><iframe width="485" height="402" id="iframe" align="left" src=""></iframe><a onclick="nextProject(clutter)"><img src="/img/nextProject.svg" width="200"></a><br><a onclick="lastProject(clutter)"><img src="/img/previousProject.svg" width="200"></a><br clear="left"></div>