<%# Type: dynamic
		Catorgory: element %>
<div id="player"><img width="485" alt="click to start <%- cName -%>" title="click to start" onclick="start()" height="402" class="beforeStart" id="iframe" align="left" src="/api/clutters/<%- id -%>/thumbnail.png"></img><img onclick="start()" id="layerOntopOfPlayer" src="/img/play.svg" width="200"><a onclick="nextProject(clutter)"><img src="/img/nextProject.svg" id="nextProjectImg"></a><br><a onclick="lastProject(clutter)"><img src="/img/previousProject.svg" id="prevProjectImg"></a><br clear="left"></div>