<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- Searching: <%= q %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Search">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		Searcing doesn't really work... afterall, there's no projects to search.
	</div>
	<%- include("footer") -%>
	<script src="/script.js"></script>
	<script>
		const query = <%- JSON.stringify(q) -%>;
		document.getElementById("searchText").value = query
	</script>
</body>

</html>