<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- Searching: <%= q %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header id="head"></header>
	<div id="content">
		Searcing doesn't really work... afterall, there's no projects to search.
	</div>
	<footer id="foot"></footer>
	<script src="/script.js"></script>
	<script>
		const query = <%- JSON.stringify(q) -%>;
		document.getElementById("searchText").value = query
	</script>
</body>

</html>