<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A Clutter user">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<a target="_new" id="userLink" title="Link to Scratch" href>
		<table>
			<tr><td><img src id="userAvatar"></td><td id="userName"></td></tr>
		</table>
		</a>
		<div class="block" style="display: inline-block;"><div class="head">Featured Clutter</div></div><br><br>
		<div id="clutters" class="block">
			<div class="head">
				Clutters
			</div>
		</div>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<script>
		const lastPath = location.pathname.split(/\//).pop()
		const pageTitle = document.getElementsByTagName("title")[0]
		const userName = document.querySelector("#userName")
		const userAvatar = document.querySelector("#userAvatar")
		const userLink = document.querySelector("#userLink")
		userLink.href = `//scratch.mit.edu/users/${lastPath}`
		fetch("//cors.9gr.repl.co/api.scratch.mit.edu/users/" + lastPath)
			.then(blob => blob.json())
			.then(data => {
				let avatar = `//uploads.scratch.mit.edu/users/avatars/${data["id"]}.png`
				userAvatar.src = avatar
				pageTitle.innerText = "Clutter -- @" + data["username"]
				userName.innerHTML = data["username"]
			})
	</script>
</body>

</html>