:root {
	--searchRadius: 10px;
	--primary: #55f;
	--primaryText: #fff;
	--foot: #ccc;
	--footText: #003;
	--blockBorder: #999;
	--editorBackground: #eee;
	--general: #fff;
	--generalText: #000;
	--inputBackground: #ddd;
	--inputBorder: #ccc;
	--inputText: #003;
	--inputSearch: #33d;
	--commentBackground: #ccc;
	--commentUserBackground: #aaa;
	--commentText: #001;
	--contrTableBorder: black;
	--code: #bbb;
	--codequote: #500;
	--codespecial: #055;
	--codenum: #550;
	--codeColor: #000;
	--commentboxBackground: #444;
	--commentLink: #00f;
	--commentUsera: #fff;
	--embedBack: #ececec;
	--buttonReportBack: red;
	--buttonReportBorder: #700;
	--buttonReportColor: #fff;
	--contentMinHeight: 82.5%;
	--buttonFollowBack: #0af;
	--buttonFollowBorder: #09e;
	--buttonFollowColor: #000;
	--bottomNewsBorder: #000;
	font-family: sans-serif;
}

details {
	margin-left: 1em;
	summary {
		margin-left: -1em;
		cursor: pointer;
	}
}

::selection {
	background: #4d97ff35;
}

/*API*/
div.code {
	font-family: monospace;
	background: var(--code);
	padding: 15px;
	color: var(--codeColor);
	.quote {
		color: var(--codequote);
	}
	.inner {
		color: var(--codespecial);
	}
	.number {
		color: var(--codenum);
	}
}

span.code {
	padding: 5px;
	font-family: monospace;
	background: var(--code);
	color: var(--codeColor);
	.quote {
		color: var(--codequote);
	}
	.inner {
		color: var(--codespecial);
	}
	.number {
		color: var(--codenum);
	}
}

/*header*/
header#head {
	background: var(--primary);
	color: var(--primaryText);
	padding: .25em;
	text-align: center;
	font-size: 1.5em;
	position: sticky;
	top: 0;
	z-index: 100;
	a {
		margin-left: .5em;
		margin-right: .5em;
		color: inherit;
		text-decoration: none;
	}
	a#logo {
		background: url("/img/logo.svg");
		height: 1.5em;
		margin-bottom: -1px;
		background-size: 100%;
		padding: 2.4em;
		padding-bottom: 0;
		padding-top: 0;
		background-repeat: no-repeat;
		transition: .15s ease all;
		&:hover {
			background-size: 90%;
			background-position: 5px 2px;
		}
	}
}

/*body*/
html, body {
	height: 100%;
	margin: 0;
	background: var(--general);
	color: var(--generalText);
}

#content {
	margin-right: 8px;
	margin-left: 8px;
	padding-top: .5em;
	min-height: var(--contentMinHeight);
	height: auto;
}

a:any-link {
	color: #055;
	&:visited {
		color: #00a;
	}
	&:active {
		color: #50a;
	}
}

/*featured*/
.block {
	background: inherit;
	color: inherit;
	padding-bottom: .5em;
	border: 2px var(--blockBorder) solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	.head {
		background: var(--foot);
		color: var(--footText);
		font-size: 1.5em;
		padding: .25em;
	}
	&.inline {
		display: inline-block;
	}
}

.project {
	display: inline-block;
	margin-left: .25em;
	margin-right: .25em;
	text-align: center;
	margin-top: 0.1em;
	&#newestClutter {
		position: relative;
		left: 10%;
	}
	.creator {
		font-size: .95em;
	}
}

.projectNameHeading {
	margin: 0;
}

/*Footer*/
footer#foot {
	background: var(--foot);
	color: var(--footText);
	padding: .5em;
	position: relative;
	margin-top: 1em;
}

ul.noList li {
	list-style: none;
}

/*Inputs*/
input, button {
	color: var(--inputText);
	background: var(--inputBackground);
	border: 2px var(--inputBorder) solid;
	margin-top: 2px;
	&.report {
		background: var(--buttonReportBack);
		color: var(--buttonReportColor);
		border-color: var(--buttonReportBorder);
	}
	&.follow {
		background: url(/img/follow.svg) left no-repeat var(--buttonFollowBack);
		background-size: 1em;
		color: var(--buttonFollowColor);
		border-color: var(--buttonFollowBorder);
		padding-left: 1em;
		&.un {
			filter: invert(1);
			color: var(--buttonUnFollowColor);
		}
	}
}

button {
	cursor: pointer;
}

.logout {
	margin: -4px;
}

.search {
	background: var(--inputSearch);
	color: var(--primaryText);
	border: none;
	padding: 12px;
	border-radius: 0 var(--searchRadius) var(--searchRadius) 0;
	&::placeholder {
  	font-size: 1em;
  	color: #ccc;
	}
	&.input {
		border-radius: var(--searchRadius) 0 0 var(--searchRadius);
	}
}

/*Error*/
.path {
	font-family: monospace;
}

center#notfound {
	margin-top: 9em;
}

/*User Pages*/
#userIcon {
	height: 1.5em;
	width: auto;
	border-radius: 5px;
}

#userName {
	font-size: 2.5em;
	color: #000;
}

#userAvatar {
	width: 2.5em;
	height: auto;
	border-radius: 5px;
}

#userLink {
	text-decoration: none;
}

/*Comments*/
.comment {
	background: var(--commentBackground);
	color: var(--commentText);
	display: block;
	padding: 5px;
	line-break: anywhere;
	padding-left: 0;
	height: 40px;
	border: 2px var(--blockBorder) solid;
	.commentUser {
		background: var(--commentUserBackground);
		display: initial;
		mrgin-right: 1em;
		padding: 5px;
		margin-top: -5px;
		height: 40px;
		float: left;
		:any-link {
			color: var(--commentUsera);
			font-weight: bolder;
			text-decoration: none;
		}
	}
	:any-link {
		color: var(--commentLink);
	}
}

#comments {
	margin-top: 5px;
}

/*About*/
table#contributers, 
table#contributers tr,
table#contributers td,
table#contributers th,
table.viewTable, 
table.viewTable tr,
table.viewTable td,
table.viewTable th {
	border: var(--contrTableBorder) 3px solid;
}

/*EDITOR*/
.contentEditor {
	background: var(--editorBackground);
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: 1em;
	margin-bottom: .25em;
	&#content {
		height: auto;
		min-height: 55%;
	}
}

/*CLUTTER PAGE*/
#embed {
	position: fixed;
	top: 40%;
	left: 45%;
	background: var(--embedBack);
	width: 15em;
	min-height: 15em;
	padding: 15px;
	display: none;
}

.xOut {
	border-radius: 15px;
}

#layerOntopOfPlayer {
	position: absolute;
	top: 90px;
	left: 135px;
	background: url("/img/play.svg") no-repeat center;
	background-size: 200px;
	width: 200px;
	height: 200px;
	cursor: pointer;
	z-index: 99;
	&.normalPage {
		top: round(402px/4);
		left: round(485px/3.5);
	}
	&:hover {
		filter: brightness(150%);
	}
}

#clutterName {
	margin: 0;
	display: inline-block;
}

.beforeStart {
	filter: brightness(60%);
}

#prevProjectImg, #nextProjectImg {
	transition: .15s ease all;
	width: 200px;
	cursor: pointer;
	&:hover {
		width: 210px;
		margin-bottom: 7px;
		filter: drop-shadow(2px 4px 6px black);
	}
}

#iframe {
	border: none;
	border-radius: 5px;
	margin-right: 5px;
}

#player {
	display: block;
	#playerI {
		position: relative;
	}
}

#views {
	background: url("/img/views.svg") no-repeat left;
	background-size: .93em;
	padding-left: 1.25em;
	margin-left: 1em;
}

/*noscript*/
.noscript {
	position: static;
	top: 0;
	background: var(--primary);
	color: var(--primaryText);
	width: 100%;
	z-index: 100;
	overflow: hidden;
}

/*MAIN PAGE*/
.newsBorder {
	border-bottom: var(--bottomNewsBorder) 1px solid;
}

#newsSection {
	margin-bottom: 1em;
}